.load-data-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.product-card{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: solid rgb(86, 54, 100);
}

.product-item img{
    width: 200px;
    height: 200px;
}

.btn{
    max-width: fit-content;
}