.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
}

.current-image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 12px 25px 17px grey;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    filter: drop-shadow(0 0 5px grey);
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.circle-indicator {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.current-indicator {
    background-color: grey;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50px;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
}

.hide-image {
    display: none;
}

.inactive-indicator {
    background-color: white;
}